/AttendanceChecking/nbproject/private/
/Requesting/nbproject/private/
/Requesting/build/
/Requesting/dist/
/AttendanceChecking/build/
/SimpleAttendance/nbproject/private/
/SimpleAttendance/build/
/MoviesFilter/nbproject/private/
/MoviesFilter/build/